* {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    color: #fc001d;
    background-color: rgba(32, 0, 3, 1);
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

html, body {
    width: 100%;
    margin: 0px;
}

/*Code for Nav Bar*/
nav {
    height: 80px;
    width: 100%;
    background: none;
    border-bottom: 1px solid white;
}

label.logo {
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    background: none;
}

nav ul {
    float: right;
    margin-right: 20px;
    background: none;
}



nav ul li {
    background: none;
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
    background: none;
}

a.active, a:hover {
    background: #8b0010;
    color: white;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    background: none;
    float: right;
    display: none;
    line-height: 80px;
    padding: 0px 50px;
    cursor: pointer;
}

#check {
    display: none;
}

@media screen and (max-width: 551px) {
    label.logo {
        font-size: 18px !important;
        display: block;
    }

    .checkbtn {
        padding-right: 10px;
    }
}


@media screen and (max-width: 1058px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

   

    nav ul li a {
        font-size: 1em;
    }

    
}



@media screen and (max-width: 933px) {
    label.logo{
        position: relative;
        padding-left: 10px;
        font-size: 1.5em;
    }

   

    .checkbtn {
        display: block;
        position: relative;
        z-index: 4;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black !important;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover, a.active {
        background: none;
        color: white
    }

    #check:checked ~ ul {
        left: 0;
        
    }
}


@media screen and (max-width: 340px) {
    label.logo {
        visibility: hidden;
    }
    
}

/*end code nav bar*/




#section {
    padding: 30px 25px;
}



#museum {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    row-gap: 20px;
    justify-items: center;
}



#museum div {
    display: block;
    width: 55%;
    overflow: hidden;
}



#museum div img {
    width: 100%;
    height: auto;
    display: block;
    
}




#footer {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: auto;
    width: 100%;
    border-top: 1px solid white;
}

#footer p {
    grid-column: 1;
    
}

.socials {
    grid-column: 2;
    
}



.social-tags {
    
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
}

i {
    margin: 0px 12px;
    
}